body,
html,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./envelope.jpeg);
  background-position: center;
  background-size: cover;
}



.App {
  width: 70%;
  background-color: rgb(247, 193, 93);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  padding: 50px;
}

.seedpacket-form label,
.seedpacket-form input {
  display: block;
}

.quarter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.seedpacket-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}
